
.projectsSection {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-5);
  text-align: center;
}

.sectionSubtitle {
  font-size: var(--font-size-content); /* 20px */
  display: inline-block;
  position: relative;
  padding-bottom: var(--spacing-1);
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-4);
}

.sectionSubtitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-text-body); 
}

.projectGrid {
  display: grid;
  gap: var(--spacing-4);
}

.featuredGrid,
.allGrid {
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .sectionSubtitle {
    font-size: var(--font-size-md); /* 24px */
  }

  .featuredGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .allGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 992px) {
  .featuredGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .allGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}